.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-button {
  width: auto;
  font-size: 1.2rem;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-hero-title-container {
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sub-hero-title-container > img {
  width: 20%;
  height: 20%;
}

.sub-hero-title-container > p,
span {
  color: white;
  font-size: 2rem;
}

.container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.crypto-name {
  color: white;
}

.crypto-symbol {
  color: white;
}

.sub-hero-price-container {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sub-hero-price-container > img {
  width: 32px;
  height: 32px;
}

.subtitle {
  margin-top: 10px;
}

.details {
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  row-gap: 10px;
  gap: 10px;
  background-color: rgb(40 37 60);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.details > div {
  display: flex;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.details > div > p {
  font-size: 0.825rem;
}
