.name-wrapper > h1 {
  padding-top: 50px;
  text-align: center;
  color: white;
}

.details-wrapper {
  margin: auto;
  width: 80%;
  padding: 15px;
  color: white;
  background-color: rgb(36, 36, 36);
  border-radius: 20px;
  font-size: 12px;
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
}

h2 {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.highest-price {
  color: green;
  font-size: 12px;
}

.lowest-price {
  color: red;
  font-size: 12px;
}

span {
  color: white;
  font-size: 12px;
}

.current-price {
  color: white;
  font-size: 12px;
}

.market-cap {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.supply-cap {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.crypto-wrapper {
  margin-top: 50px;
}

.main-wrapper {
  margin: auto;
  width: 80%;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
  padding: 12px;
  background-color: rgb(40, 37, 60);
  border-radius: 20px;
}

.name-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.symbol {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}

.crypto-logo {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
}

.small-wrapper {
  display: flex;
  align-items: center;
}

p {
  color: white;
  font-size: 12px;
}

button {
  background-color: rgb(32, 37, 98);
  width: 70%;
  padding: 12px;
  font-size: 12px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
